# How to use:
#
# if [ -f ${HOME}/.aliases ]; then
#	source ${HOME}/.aliases
# fi
#
alias gs='git status'
alias gd='git diff'
alias gb='git branch -vv'
alias gl='git log'
alias gt='git tag -n1'

alias vim='nvim'
